.bg-myNav{
  background-color: maroon;
}

.footer {
  margin-top: 1rem;
  background: maroon;
  color: white;
  padding: 10px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  display: flex;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: flex;
}

a.social:hover {
  transform: translateY(-2px);
  color: black;
}

a.facebook {
  color: white;
}

a.twitter {
  color: white;
}

a.instagram {
  color: white;
}