.bg-myNav {
  background-color: white;
}

.navbar-brand {
  color: black !important;
}

.navbar-toggler {
  background-color: white !important;
}

.nav-link {
  color: black !important;
}

.nav-cart:hover,
a:focus,
a:active {
  color: #999;
  text-decoration: none;
}
.nav-cart {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  position: relative;
  display: block;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: black;
}
.nav-cart::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: black;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
.nav-cart:active::before {
  background-color: white;
}
.nav-cart:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

nav .nav-cart {
  cursor: pointer;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
}

nav .nav-cart span {
  top: -12px;
  right: -7px;
  background: crimson;
  font-size: 10px;
  color: white;
  padding: 3px 5px;
  border-radius: 50%;
  z-index: -1;
}

.nav-link:hover,
a:focus,
a:active {
  color: #999;
  text-decoration: none;
}
.nav-link {
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  position: relative;
  display: block;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: black;
}
.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: black;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
.nav-link:active::before {
  background-color: white;
}
.nav-link:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.dropdown-menu {
  background: white !important;
}

.dropdown-item {
  background-color: white !important;
  color: black !important;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
  position: relative;
  display: block;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}
.dropdown-item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: black;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}
.dropdown-item:active::before {
  background-color: black;
}
.dropdown-item:hover::before,
a:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.footer {
  background-color: #242424;
  padding: 2rem 0 1rem 0;
  background: white;
  color: black;
  width: 100%;
  justify-content: center;
  display: flex;
  border-top: 2px solid black;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: flex;
}

a.social:hover {
  transform: translateY(-2px);
  color: black;
}

a.facebook {
  color: black;
}

a.twitter {
  color: black;
}

a.instagram {
  color: black;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn-video {
  width: 150px;
  height: 65px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid #fff;
  color: white;
  background-color: transparent;
  transition: all ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}

.btn-video:hover {
  background-color: white;
  color: black;
}

.acc-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.acc-details {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
  padding: rem;
  text-align: center;
}
